@font-face {
  font-family: 'JetBrains Mono';
  src: url('css/jbm-nf.ttf') format('ttf');
}

body, html {
  height: 100%;
  overflow-y: hidden;
}

/* fill-max-height class from https://github.com/jgthms/bulma/issues/2704 */
.fill-max-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* I am not known for my subtlety */
#eval-box-container {
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.eval-log-container {
  overflow-y: scroll;
  top: 0px;
  bottom: 50px;
  width: 100%;
  position: absolute;

  display: flex;
  flex-direction: column-reverse;
}

.eval-log-entry {
  white-space: pre-line;
}

.scrolling-table {
  overflow-y: scroll;
  width: auto;
  position: absolute;
}

.code-text {
  font-family: 'JetBrains Mono';
}

#main {
  font-family: 'JetBrains Mono';
  flex: 1;
}
